.logo {
    width: 70%;
}

.logo-cont {
    margin-right: 5rem;
}

.menu-icon {
    margin-right: 5px;
}

.menu-item {
    margin-right: 20px;
}

.color-text {
    color: #FFFFFF;
}

.color-text:hover {
    color: #FFFFFF;
}

.title-welcome {
    margin-bottom: 30px;
}

.years {
    width: 10%;
    margin-right: 40px;
}

.container {
    max-width: 100%;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

.fab {
    font-size: 30px;
    color: #092e6b;
    margin-right: 5px;
    margin-left: 5px;
}

.follow {
    margin-top: 15px;
    text-align: center;
}

.follow > a {
    vertical-align: middle;
}

.footer {
    background-color: #6c6e70;
    color: #FFFFFF;
}

.navbar-nav li a {
    white-space: nowrap;
}

.navbar .nav-item:hover .dropdown-menu { 
    display: block; 
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover { 
    background-color: #092e6b; 
    color: #FFFFFF;
}

@media (min-width: 576px) { 
    .copyright { 
        text-align: left; 
    }
    .follow {
        text-align: right;
    }
}